	body {
	background-color:#00c4f4;
}

P{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF;
	text-align: center;
	font-size: 40px;
}

h1{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF;
	text-align: center;
	font-size: 30px;
}
