	body {
	background-color:#a1ecff;
}

P{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF
	text-align: center;
}

h1{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF
	text-align: center;
}
