	body {
	background-color:#00c4f4;
}

P{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF;
	text-align: center;
}

h1{
	font-family: 'Brush Script MT', cursive;
	Color: #FFFFFF;
	text-align: center;
}
